# Dependencies
node_modules

# Build
dist
*.local

# Logs
npm-debug.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*.local

# Secrets (never commit)
google-key.json

/src/generated/prisma
